/* Links */

@import url(https://fonts.googleapis.com/css?family=Prompt:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p+p {
    margin-top: 1em;
}

ul {
    list-style: none;
}

img,
svg {
    vertical-align: none;
    max-width: 100%;
    height: auto;
}

/* Styles main settings */

html, body {
	height: 100%;
	min-width: 320px;
  
}

body {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    background-color: black;
    z-index:10;
     /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  z-index: -10;
  
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* Header */

header{
  position: fixed;
  width: 100vw;
  z-index: 1000000000000000000;
}
.header {
  background-color: #0c0c0c;
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo-img img {
    width: 40px;
    height: 40px;
    margin: 12px 0px 8px 52px;
  }

  &__text {
    margin: 10px 0;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s ease;
  }

  &__text:active {
    color: rgb(255, 173, 85);
    font-size: 28px;
  }

  &__orders {
    margin: 12px 52px 8px 0px;
  }

  &__orders img {
    width: 43px;
    height: 43px;
    transition: all 0.1s ease;
  }

  &__orders img:active {
    width: 39px;
    height: 39px;
  }

  &__orders img:active {
    margin: 1px 4px 3px 0px;
    padding: 3px 0px 0px 3px;
  }

  &__button-orders {
    background-color: #0c0c0c;
    cursor: pointer;
  }
}

/* Main */

//delete-popup

.delete-modal {
  z-index: 100000000000000;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease;
  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }

  &__content {
    background-color: rgb(250, 142, 18);
    backdrop-filter: blur(10px);
    color: white;
    max-width: 800px;
    padding: 20px 30px 30px 30px;
    border-radius: 17px;
    user-select: none;
  }

  &__close {
    margin-left: 97%;
    color: black;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
  }

  &__title {
    text-align: center;
  }

  &__title p {
  
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin: 0px 50px 30px 50px;
  }

  &__button {
    display: flex;
    gap: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  &__main-clear {
    padding: 14px 49px;
    background: rgba(227, 3, 3, 0.651);
    color: white;
    border: 2px solid rgba(227, 3, 3, 0);
    border-radius: 7px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
      &:hover {
        background-color: rgb(238, 4, 4);
      }
    
      &:active {
        background-color: rgb(176, 0, 0);
        border: 2px solid rgb(176, 0, 0);
      }
  }

}
.instructions {
  z-index: 100000000000000;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  // opacity: 0;
  // visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease;
  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }

  &__content {
    background-color: rgb(250, 142, 18);
    backdrop-filter: blur(10px);
    color: white;
    max-width: 800px;
    padding: 20px 30px 30px 30px;
    border-radius: 17px;
    user-select: none;
  }

  &__close {
    margin-left: 97%;
    color: black;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
  }

  &__title {
    text-align: center;
  }

  &__title p {
  
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin: 0px 50px 30px 50px;
  }

  &__button {
    display: flex;
    gap: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  &__main-clear {
    padding: 14px 49px;
    background: rgba(227, 3, 3, 0.651);
    color: white;
    border: 2px solid rgba(227, 3, 3, 0);
    border-radius: 7px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
      &:hover {
        background-color: rgb(238, 4, 4);
      }
    
      &:active {
        background-color: rgb(176, 0, 0);
        border: 2px solid rgb(176, 0, 0);
      }
  }

}
.show_popup {
  opacity: 1;
  visibility: visible;
}

.hide_title {
  display: none;
}
.burger-maker {
  min-height: 100vh;
  &__container{
    // max-width: 1420px;
    padding: 0 10px ;
    margin: 0 auto;
    @media (max-width:600px ){
      max-height: 165vh;
      
    }
  }

  &__kitchen {
    display: grid;
    grid-template-columns: 3fr 12fr 3fr;
    @media (max-width: 850px) {
      grid-template-columns: 4fr 12fr 4fr;
    }
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      
    }
  }
}
.ingridients-nav{
  height: 450px;
  position: relative;
  margin: auto 0;
  padding-top: -50px;
  @media (max-width: 600px) {
    max-height: 450px;
    rotate: 90deg;
    max-width: 200px;
    margin: 0 auto;
    .draggable{
      rotate: 270deg;
      margin: 50px 0px;
    }
  }
  
}
.ingridients-right-nav{
  @media (max-width:600px) {
    order: 2;
    transform: translateX(-150px);
  }
}
.ingridients-left-nav{
  @media (max-width:600px) {
    order: 3;
    transform: translateX(-450px);
  }
}
.arrow-previous{
  width: 50px;
  height: 50px;
  background-image: url(../img/kitchen/arrow.png);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: rotate(90deg);
  
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -50px;
  text-align: center;
  position: absolute;
  transition: .2s;
  &:active{
    opacity: .7;
  }

  
}
.arrow-next{
  width: 50px;
  height: 50px;
  background-image: url(../img/kitchen/arrow.png);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: rotate(270deg);
  
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -20px;
  text-align: center;
  position: absolute;
  transition: .2s;
  &:active{
    opacity: .7;
  }
  
}
.kitchen-elements-left {
  transition: all 0.3s ease-in-out;
  
  height: 100vh;
  
  // border-right: 10px solid rgb(222, 107, 0);

  
}
.kitchen-ingridients {
  
  scroll-behavior: smooth;
  
  
  margin-top: -5px;
  max-height: 430px;
  transition: .3s ;
  background-color: black;

  overflow-y: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
// .kitchen-burger-holder-wrapper{
//   height: ;
//   border-right: 3px solid rgb(255, 145, 0);
// }
.kitchen-burger-holder {

  // border: 5px  rgb(255, 145, 0) dashed;
  
  
  position: relative;
  
  margin: auto ;
  
  background-image: url(../img/kitchen/kithcen-blured-bckground.jpeg);
  margin-top: 17vh;
  transition: height .3s  ease-in-out;
  
  
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;

  justify-content: center;
  align-items: flex-end;
  
  width: 100%;
  
  min-height:25vh;
  @media( max-width:600px) {
    min-height:0;
  }

  .trash{
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    


    position: absolute;
    z-index: 1000;
    left: 10px;
    bottom: 45px;
    width: 120px;
    height: 220px;
    
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    
    &:active{

      .trash-lid{
      
        animation: opening-lid-active .4s forwards !important;
      }
      
    }
    .space-for-lid{
      position: relative;
      width: 100%;
      height:100px;
      
      
    }
  }
  
  .trash-lid{
    bottom: 0px;
    position: absolute;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 36px;
    background-image: url(../img/kitchen/recycle-bin-lid3.png);
    animation: closing-lid 1s ;
    z-index: -1;
  }

  .trash-can{
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120px;
    background-image: url(../img/kitchen/recycle-bin-can.png);
  }
  
}


@keyframes opening-lid {
  0%{
    
    transform: rotate(0deg);
    bottom: -1px;
  }
  
  100%{
    
    transform: rotate(360deg);
    bottom: 50px;

  }
}
@keyframes opening-lid-backwords {
  0%{
    
    transform: rotate(0deg);
    bottom: -1px;
  }
  
  100%{
    
    transform: rotate(-360deg);
    bottom: 50px;

  }
}
@keyframes opening-lid-active {
  0%{
    
    transform: rotate(0deg);
    bottom: -1px;
  }
  
  100%{
    
    
    bottom: 50px;

  }
}

@keyframes closing-lid {
  0%{
    
    transform: rotate(0deg);
    bottom: 50px;
  }
  
  100%{
    
    transform: rotate(0deg);
    bottom: -1px;

  }
}
.trash-open{
  
  animation: opening-lid .7s forwards !important;

}
.trash-open2{
  
  animation: opening-lid-active .7s forwards !important;

}
.trash-open3{
  
  animation: opening-lid-backwords .7s forwards !important;

}


.trash-closed{
  
  animation: closing-lid 1s !important;
  
}



.burger {
  margin-top: 50px;
  padding-bottom:5px;
  width: 50%;
  min-height: 50vh;
  
  
  // border: 1px solid black;
  margin-bottom:5%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition:  .3s ease-in-out;
  .draggable{
    
    transition: .7s;
    position: relative;
    
    margin: 0 auto;
    margin-top: -9%;
    
      
      
      
      -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 60%;
    @media (max-width:1000px) {
      width: 80%;
    }
    
    
    
  }
  
}
.dragging{
  
  opacity: .5;
  
}
.kitchen-elements-right {
  height: 100vh;
  
  // border-left: 10px solid rgb(222, 107, 0);
  max-width: 100%;
  overflow-x: hidden;
}
.burger-ingridient{
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 20px 0;
  img{
    max-width: 95%;
    cursor: move;
  }
  .draggable{
    transform: translateY(-15px);
  }
}

.kitchen-center{
  @media (max-width:600px) {
    order: 1;
  }
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  
}
//buttons

.button {
  
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px;
  justify-content: space-around;
  margin: 50px 0;
  transition: .3s;
  &__main-clear {
    padding: 14px 49px;
    background: none;
    color: white;
    border: 2px solid rgb(227, 3, 3);
    border-radius: 7px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
      &:hover {
        background-color: rgb(227, 3, 3);
      }
    
      &:active {
        background-color: rgb(176, 0, 0);
        border: 2px solid rgb(176, 0, 0);
      }
  }

  

  &__main-confirm {
    padding: 15px 50px;
    background-color: rgb(73, 195, 11);
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    &:hover {
      background-color: rgb(81, 244, 0);
    }
  
    &:active {
      background-color: rgb(60, 154, 14);
    }
    
  }
  &__main-edit{
    background: none;
    padding: 15px 50px;
    border: solid 2px rgba(255, 255, 97, 0.875);
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    &:hover {
      background-color: rgb(237, 237, 72);
    }
  
    &:active {
      background-color: rgba(249, 249, 36, 0.661);
    }
    
    
  }
  .button__main-submit{
    padding: 15px 20px;
    background-color: rgb(73, 195, 11);
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    &:hover {
      background-color: rgb(81, 244, 0);
    }
  
    &:active {
      background-color: rgb(60, 154, 14);
    }
    
  }


}
//pop-up
.popup{
  z-index: 10000;
  position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
}
.saved{
      
  padding: 5px 15px;
  background-color: rgba(46, 49, 45, 0.67);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  
  outline: none;
  transition: all 0.3s ease;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.cant-do-it{
  padding: 5px 15px;
  background-color: rgba(208, 3, 3, 0.764);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  
  outline: none;
  transition: all 0.3s ease;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  
}



/* Footer */