@charset "UTF-8";
/* Links */
@import url(https://fonts.googleapis.com/css?family=Prompt:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: none;
  max-width: 100%;
  height: auto;
}

/* Styles main settings */
html,
body {
  height: 100%;
  min-width: 320px;
  background-color: #000000;
}

body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* Header */
header {
  position: fixed;
  width: 100vw;
  z-index: 1000000000000000000;
}

.header {
  background-color: #0c0c0c;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__logo-img img {
  width: 40px;
  height: 40px;
  margin: 12px 0px 8px 52px;
}
.header__text {
  margin: 10px 0;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease;
}
.header__text:active {
  color: rgb(255, 173, 85);
  font-size: 28px;
}
.header__orders {
  margin: 12px 52px 8px 0px;
}
.header__orders img {
  width: 43px;
  height: 43px;
  transition: all 0.1s ease;
}
.header__orders img:active {
  width: 39px;
  height: 39px;
}
.header__orders img:active {
  margin: 1px 4px 3px 0px;
  padding: 3px 0px 0px 3px;
}
.header__button-orders {
  background-color: #0c0c0c;
  cursor: pointer;
}
.header .header__order-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(254, 184, 54);
  position: absolute;
  right: 7%;
  top: 10%;
}
.header .header__order-counter a {
  text-align: center;
  margin-top: 3px;
  font-size: 12px;
  color: white;
  width: 25px;
  height: 22px;
}

/* Main */
.main__container {
  margin-top: 15vh;
}
.main__content {
  display: flex;
  flex-direction: column;
}
.main__title {
  color: white;
  font-size: 55px;
  font-weight: 600;
  text-align: center;
}
.main__window {
  border: 3px solid rgb(255, 115, 0);
  box-shadow: 20px 25px 35px rgba(255, 115, 0, 0.5);
  border-radius: 17px;
  padding: 0px 100px 0px 0px;
  margin: 20px 0px 65px 0px;
  color: white;
  display: flex;
  align-self: center;
}
.main__buttons {
  display: flex;
  justify-content: center;
}
.main__total {
  font-size: 25px;
  margin-bottom: 60px;
}
.main__total a {
  font-weight: 600;
}
.main__total span {
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(250, 129, 0);
}

.window__img img {
  height: 500px;
  margin-right: 10px;
}
.window__list {
  overflow: auto;
  max-height: 300px;
  margin-top: 55px;
  padding-right: 20px;
}
.window__list::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}
.window__list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.window__list::-webkit-scrollbar-thumb {
  background: #e18e00;
}
.window__list::-webkit-scrollbar-thumb:hover {
  background: #c66d00;
}
.window__text {
  max-width: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list li {
  display: flex;
  gap: 20px;
}

.list li:before {
  display: block;
  content: "•";
}

.list li:nth-child(n) {
  margin-bottom: 10px;
}

.list li:last-child {
  margin-bottom: 20px;
}

.list a {
  display: flex;
  text-align: center;
  font-size: 25px;
}

.list a:last-child {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}

.button {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}
.button__main-return {
  padding: 14px 49px;
  background: none;
  color: white;
  border: 2px solid rgb(227, 3, 3);
  border-radius: 7px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.button__main-return:hover {
  background-color: rgb(227, 3, 3);
}
.button__main-return:active {
  background-color: rgb(176, 0, 0);
  border: 2px solid rgb(176, 0, 0);
}
.button__main-confirm {
  padding: 15px 50px;
  background-color: rgb(73, 195, 11);
  border-radius: 7px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.button__main-confirm:hover {
  background-color: rgb(81, 244, 0);
}
.button__main-confirm:active {
  background-color: rgb(60, 154, 14);
}

/* Popup */
.popup {
  z-index: 100000;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: rgb(250, 142, 18);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: white;
  max-width: 800px;
  padding: 20px 30px 30px 30px;
  border-radius: 17px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.popup__close {
  margin-left: 97%;
  color: black;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}
.popup__title {
  text-align: center;
}
.popup__title p {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin: 0px 50px 20px 50px;
}
.popup__input {
  width: 290px;
  padding: 13px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 20px;
}
.popup__input:invalid {
  animation: justshake 0.3s forwards;
  color: rgb(255, 0, 0);
  border: 3px solid red;
}
@keyframes justshake {
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX-(5px);
  }
}
.popup__input[placeholder] {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
}
.popup__thanks {
  font-size: 55px;
  font-weight: 600;
  margin: 77px 30px;
  display: none;
}
.popup__button {
  text-align: center;
}
.popup__button button {
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292e;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 13px;
  padding: 8px 20px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: manipulation;
}
.popup__button button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}
.popup__button button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}
.popup__button button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
  border: 1px solid gray;
}
.popup__button button:focus {
  outline: 1px transparent;
}
.popup__button button:before {
  display: none;
}

.show_popup {
  opacity: 1;
  visibility: visible;
}

.hide_title {
  display: none;
}

.show_thanks {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

/* Adaptive */
@media (max-width: 960px) {
  .window__img img {
    height: 370px;
    margin-right: 10px;
  }
}
@media (max-width: 710px) {
  .header__logo-img img {
    width: 37px;
    height: 37px;
    margin: 12px 0px 8px 22px;
  }
  .header__text {
    font-size: 25px;
  }
  .header__orders {
    margin: 12px 12px 8px 0px;
  }
  .header__orders img {
    width: 40px;
    height: 40px;
  }
  .window__img img {
    height: 180px;
  }
  .window__img {
    display: flex;
    align-items: center;
  }
  .main__total {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .main__window {
    padding: 0px 25px 0px 0px;
  }
  .main__window {
    box-shadow: 10px 15px 35px rgba(255, 115, 0, 0.5);
  }
  .list {
    margin-top: 40px;
  }
  .list__order {
    font-size: 14px;
  }
  .button {
    gap: 40px;
  }
}
@media (max-width: 420px) {
  .header__logo-img img {
    width: 37px;
    height: 37px;
    margin: 12px 0px 8px 24px;
  }
  .header__orders {
    margin: 12px 14px 8px 0px;
  }
  .main__total {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .main__title {
    font-size: 45px;
  }
  .window__img {
    align-items: start;
    margin-top: 30px;
  }
  .window__img img {
    height: 130px;
    margin-right: 0;
  }
  .list {
    margin-top: 40px;
  }
  .list__order {
    font-size: 11px;
  }
  .button {
    gap: 30px;
  }
  .button__main-return {
    padding: 13px 29px;
    font-size: 18px;
  }
  .button__main-confirm {
    padding: 14px 30px;
    font-size: 18px;
  }
}
@media (max-width: 420px) {
  .header__logo-img img {
    width: 37px;
    height: 37px;
    margin: 12px 0px 8px 10px;
  }
  .header__orders {
    margin: 12px 0px 8px 0px;
  }
  .button {
    gap: 30px;
  }
  .button__main-return {
    padding: 13px 33px;
    font-size: 17px;
  }
  .button__main-confirm {
    padding: 14px 34px;
    font-size: 17px;
  }
  .popup__thanks {
    font-size: 30px;
  }
}
/* Adaptive for popup */
@media (max-width: 515px) {
  .popup__title p {
    font-size: 35px;
    margin: 0px 0px 30px 0px;
  }
  .popup__content {
    padding: 20px 30px 25px 30px;
  }
}
@media (max-width: 400px) {
  .popup__title p {
    font-size: 35px;
    margin: 0px 0px 30px 0px;
  }
  .popup__content {
    padding: 20px 25px 25px 25px;
  }
}
@media (max-width: 370px) {
  .popup__input {
    width: 240px;
  }
  .popup__title p {
    font-size: 35px;
    margin: 0px 0px 30px 0px;
  }
  .popup__content {
    padding: 20px 30px 25px 30px;
  }
}
#burgers-carousel {
  max-width: 300px;
  display: flex;
  overflow-x: scroll;
}
#burgers-carousel .burger {
  width: 100%;
  height: 200px;
}
#burgers-carousel .burger .burger-ingridient {
  width: 300px;
  height: 150px;
  margin-top: -90px;
}